%html
  %head
  %body
    .header
      %h1 Picture Viewer for remote webcams
    .content
      - @cameras.each do |camera|
        %img(src="/green.png")
        %a(href="/take_photo/#{camera[:ip]}")> Take new photo on Camera #{camera[:name]} (#{camera[:ip]})
        %br
    .footer
      %p Hackathon Insight EMEA - 2016
