%html
  %head
    %link(rel="stylesheet" type="text/css" href="styles.css")
  %body
    .content
      %h1 Photo taken!
      %p Image location is: #{@image_url}
      %p Timestamp is: #{@timestamp}
      %img(src="#{@image_url}")
      %img(src="/tagline.png")
