%html
  %head
    %link(rel="stylesheet" type="text/css" href="styles.css")
  %body
    .content
      %h1 Photo taken!
      %img(src="#{@image_url}")
      %p "Image location is: #{@image_url}"
      %img(src="/tagline.png")
